@tailwind base;
@tailwind components;
@tailwind utilities;

.section-base {
  @apply snap-start;
}

.section-layout {
  @apply flex relative min-h-screen px-1/10 py-14 font-higilight snap-start;
}

.section-title {
  @apply text-4xl text-blue font-semibold tracking-widest;
}

.section-subtitle {
  @apply text-3xl text-blue font-semibold mb-4;
}

.career-card {
  @apply inline-flex font-sans border-gray border rounded-xl p-8 gap-6 w-2/5 hover:border-blue;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

:root {
  width: 100vw;
  overflow-x: hidden;
  font-family: "Pretendard, sans-serif";
  color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
}
