@tailwind base;
@tailwind components;
@tailwind utilities;

.section-title {
  @apply text-3xl text-blue font-semibold mb-4;
}

.career-card {
  @apply inline-flex font-sans border-gray border rounded-xl p-8 gap-6 w-2/5 hover:border-blue;
}

:root {
  width: 100vw;
  overflow-x: hidden;
  font-family: "Pretendard, sans-serif";
  color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
}
