@tailwind base;
@tailwind components;
@tailwind utilities;

.section-layout {
  @apply flex relative min-h-screen px-1/10 py-20 border-b border-gray;
}

.section-title {
  @apply text-4xl text-blue tracking-widest sm:text-3xl md:text-4xl;
}

.section-subtitle {
  @apply text-3xl text-blue font-semibold sm:text-2xl md:text-3xl;
}

.career-card {
  @apply flex font-sans p-5 gap-4 w-[32%] sm:w-full sm:flex-col md:flex-row md:w-[32%] sm:p-1 md:p-5;
}

.about-card {
  @apply flex flex-col font-sans p-5 gap-6 w-[32%] sm:w-full md:w-[32%] sm:p-4 md:p-5;
}

:root {
  width: 100vw;
  overflow-x: hidden;
  font-family: "Pretendard, sans-serif";
  color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
}
